.Form {
    min-width: 400px;
    padding: 20px;
    background-color: white;
    position: fixed;
    padding-top: 40px;
}

.Form_submit {
    width: 100%;
}

.Form_close {
    text-align: right;
    right: 4px;
    top: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.MetaForm {
    background-color: white;
    min-width: 40%;
    margin-left: 30%;
    min-height: 750px;
}
